
section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reloj{
    display: grid;
    grid-template-columns: repeat(5,50px);
    border: solid 2px;
    width: 250px;
}

#reloj div{
    display: inline-block;
    text-align: center;
    

}
